﻿<nav class="navbar-sidebar2">
    <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-tachometer-alt"></i>Dashboard
                <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="index.html">
                        <i class="fas fa-shopping-bag"></i>Jumlah Pembeli
                    </a>
                </li>
                <li>
                    <a href="index2.html">
                        <i class="fas fa-user-circle"></i>Jumlah Akun
                    </a>
                </li>
                <li>
                    <a href="index3.html">
                        <i class="fas fa-circle-o-notch"></i>Jumlah Akun Online
                    </a>
                </li>
                <li>
                    <a href="index4.html">
                        <i class="fas fa-rocket"></i>Rating
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="Master.html">
                <i class="fas fa-user"></i>Master Anggota dan User
            </a>
        </li>

        <li>
            <a href="Quiz.html">
                <i class="fas fa-trophy"></i>Master Quiz
            </a>
        </li>

        <li>
            <a href="Timeline.html">
                <i class="fas fa-calendar-alt"></i>Master Timeline
            </a>
        </li>

        <li>
            <a href="Pemangambilan.html">
                <i class="fas fa-shopping-basket"></i>Master Pembelian
            </a>
        </li>

        <li>
            <a href="Video.html">
                <i class="fas fa-video"></i>Master Video
            </a>
        </li>

        <li>
            <a href="Pengaduan.html">
                <i class="fas fa-comment"></i>Master Pengaduan
            </a>
        </li>

        <li>
            <a href="Rating.html">
                <i class="fas fa-star"></i>Master Rating
            </a>
        </li>

        <li>
            <a href="Testimoni.html">
                <i class="fas fa-quote-right"></i>Master Testimoni
            </a>
        </li>

        <li>
            <a href="@Url.Action("Reimburse","Reimburse")">
                <i class="fas fa-quote-right"></i>Reimburse
            </a>
        </li>

    </ul>
</nav>