﻿<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">
        <li>
            <a class="js-arrow" href="#">
                <i class="fas fa-home"></i>Home
            </a>
            
        </li>

        <li>
            <a href="@Url.Action("Order","Order")">
                <i class="far fa-shopping-basket"></i>Book Order
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-video"></i>Tutorial
            </a>
        </li>

        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-pencil-alt"></i>Feedback
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="rating.html">Book's rating</a>
                </li>
                <li>
                    <a href="review.html">Review</a>
                </li>
                <li>
                    <a href="complaint.html">Complaint</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="far fa-calendar-check"></i>Pickup Schedule
            </a>
        </li>
        
    </ul>
</nav>