﻿@model phiwiki.Models.tbl_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="~/Temp/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Temp/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Temp/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Temp/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Temp/css/theme.css" rel="stylesheet" media="all">

</head>


<body class="animsition">
    <form method="post">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    
                                    <img src="~/Temp/images/icon/logo_phiwiki.jpeg" alt="phiwiki" width="70" height="70">          </a>
                            </div>
                            <div class="login-form">
                                <form action="" method="post">

                                    <div class="container-login100-form-btn">
                                        <div class="col-md-offset-2">
                                            <p class="text-center">
                                                <label class="text-danger">@TempData["failed"]</label>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Username</label>
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "username", @placeholder = "Username" } })
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        @Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "password_user", @placeholder = "Password" } })
                                    </div>



                                    <div class="register-link">
                                        <p>
                                            <a href="#" class="text-danger">@Html.ActionLink("Forgotten Password?", "Forgetpass")</a>
                                            <br />
                                        </p>
                                    </div>
                                    <br />
                                    <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Login</button>

                                </form>
                                <div class="register-link">
                                    <p>
                                        Don't you have account?
                                            <a href="#">@Html.ActionLink("Registration", "Registration")</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Jquery JS-->
        <script src="~/Temp/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/Temp/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/Temp/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/Temp/vendor/slick/slick.min.js">
        </script>
        <script src="~/Temp/vendor/wow/wow.min.js"></script>
        <script src="~/Temp/vendor/animsition/animsition.min.js"></script>
        <script src="~/Temp/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/Temp/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Temp/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/Temp/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Temp/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Temp/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Temp/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="~/Temp/js/main.js"></script>

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>tbl_user</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.id_user, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.id_user, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.id_user, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nama_user, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nama_user, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nama_user, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nim, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nim, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password_user, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password_user, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fakultas, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fakultas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fakultas, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.kampus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.kampus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kampus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.no_hp, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }*@


    </form>
</body>
</html>
